$enable-gradients: true;
$enable-shadows: true;
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/helpers";
@import "bootstrap/scss/utilities/api";
@import "icon-list";
body { padding: 3rem 1.5rem; }
.bi { fill: currentColor; }
